<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>Склад</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/}">KKK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02"
            aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
</nav>
<body style="height: 100%; color: white">
<div class="bg-image" style="
    height: 100%;
    background-image: url('static/cargo.jpg');
    background-color: gray;
    background-size: cover;
    overflow-x: hidden">

    <blockquote class="blockquote text-center"><h1>Склад</h1></blockquote>
    <div class="row">
        <div class="col-md-8 offset-md-4">
            <h4>Поиск груза по любому критерию: </h4>
            <form th:action="@{/site24}">
                <input type="text" name="keyword" id="keyword" size="70" th:value="${keyword}" required/>
                <input type="submit" class="btn btn-success btn-sn" value="Поиск"/>
                <input type="button" class="btn btn-warning btn-sn" value="Очистить" id="btnClear"
                       onclick="clearSearch()"/>
            </form>
        </div>
    </div>
    <table id="1" class="table table-striped">
        <thead class="table-light">
        <tr>
            <th scope="col">ID груза</th>
            <th scope="col">Название груза</th>
            <th scope="col">Состав груза</th>
            <th scope="col">Город отправки груза</th>
            <th scope="col">Город прибытия груза груза</th>
            <th scope="col">Дата отправки груза</th>
            <th scope="col">Дата прибытия груза</th>
            <th scope="col">Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cargo: ${listCargo}" class="tr">
            <th scope="row" class="th" th:text="${cargo.ID}" style="color: white">ID груза отстутсвует</th>
            <th scope="row" class="th" th:text="${cargo.name_load}" style="color: white">Название груза отстутсвует</th>
            <th scope="row" class="th" th:text="${cargo.content}" style="color: white">Состав груза отстутсвует</th>
            <th scope="row" class="th" th:text="${cargo.city_from}" style="color: white">Город отправления отстутсвует
            </th>
            <th scope="row" class="th" th:text="${cargo.city_to}" style="color: white">Город прибытия отстутсвует</th>
            <th scope="row" class="th" th:text="${cargo.data_output}" style="color: white">Дата отправки отстутсвует
            </th>
            <th scope="row" class="th" th:text="${cargo.data_input}" style="color: white">Дата прибытия отстутсвует</th>

            <td>
                <a th:href="@{'/site24/edit/'+ ${cargo.ID}}">
                    <button type="button" class="btn btn-info">Редактировать</button>
                </a>
                <a th:href="@{'/site24/delete/'+ ${cargo.ID}}">
                    <button type="button" class="btn btn-danger">Удалить</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>


    <p class="text-white">
        <script type="text/javascript">
            function getRowsColumn() {
                let table = document.getElementById('1')
                let tBody = table.querySelector('tbody')
                const count = tBody.querySelectorAll('tr').length;
                document.write('Количество грузов в таблице: ' + count)
            }


            getRowsColumn()
        </script>
    </p>

    <p>
        <script>
            function getAveragecargobydate() {
                labels = []
                data = []
                let tr = document.getElementsByClassName('tr');
                for (let i = 0; i < tr.length; i++) {
                    let t = tr[i].getElementsByClassName('th')[5].textContent;

                    if (!labels.includes(t)) {
                        let ind = labels.length;
                        labels[ind] = t;
                        data[ind] = 1;
                    } else {
                        let ind = labels.indexOf(t);
                        data[ind] += 1;
                    }
                }

            }

            getAveragecargobydate()


            var count = data.reduce((partialSum, a) => partialSum + a, 0) / labels.length
            document.write('Среднее количество грузов за день: ' + count)
        </script>
    </p>


    <blockquote class="blockquote text-center">
        <a href="/site24/new">
            <button type="button" class="btn btn-primary" data-togge="button" aria-pressed="false" autocomplete="off">
                Добавить груз
            </button>
        </a>
    </blockquote>

    <script type="text/javascript">
        function clearSearch() {
            window.location = "[[@{/site24}]]";
        }
    </script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.0.2/tablesort.min.js'></script>

    <div class="container">
        <canvas id="hist" width="400" height="200"></canvas>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script type="text/javascript">
        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min)) + min;
        }

        labels = []
        data = []
        let tr = document.getElementsByClassName('tr');
        for (let i = 0; i < tr.length; i++) {
            let t = tr[i].getElementsByClassName('th')[5].textContent;

            if (!labels.includes(t)) {
                let ind = labels.length;
                labels[ind] = t;
                data[ind] = 1;
            } else {
                let ind = labels.indexOf(t);
                data[ind] += 1;
            }
        }

        let colors = [];
        for (let i = 0; i < labels.length; i++) {
            let temp = 'rgba(' + getRandomInt(0, 256) + ', ' + getRandomInt(0, 256) + ', ' + getRandomInt(0, 256) + ', 1)';
            while (colors.includes(temp)) {
                temp = 'rgba(' + getRandomInt(0, 256) + ', ' + getRandomInt(0, 256) + ', ' + getRandomInt(0, 256) + ', 1)';
            }

            colors[i] = temp;
        }

        let dataset = {
            label: 'Количество грузов',
            data: data,
            backgroundColor: colors,
            borderWidth: 1,
        }

        Chart.defaults.global.defaultFontColor = 'white';

        let ctx = document.getElementById('hist').getContext('2d');
        let myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [dataset],
            },
            options: {
                legend: {
                    display: false,
                },
                title: {
                    display: true,
                    text: 'Груз по названию',
                    position: 'top',
                    fontSize: 24,
                    padding: 20,
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1,
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Количество грузов',
                            fontSize: 18,
                        },
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Дата',
                            fontSize: 18,
                        },
                    }],
                },
            },
        });
    </script>


    <script src='https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.0.2/tablesort.min.js'></script>
    <script>
        new Tablesort(document.getElementById('1'));
    </script>


</div>
</body>
</html>